/** BLUR **/
/* *primary */
.blur-box-primary {
	box-shadow: 
		 0px  0px  2px var(--primary-color-light),
		 0px  1px  2px var(--primary-color-light),
		 1px  0px  2px var(--primary-color-light),
		 1px  1px  2px var(--primary-color-light),
		 0px -1px  2px var(--primary-color-light),
		-1px  0px  2px var(--primary-color-light),
		-1px -1px  2px var(--primary-color-light),
		-1px  1px  2px var(--primary-color-light),
		 1px -1px  2px var(--primary-color-light);
}

/* **more */

.more-blur-box-primary {
	box-shadow: 
		 0px  0px  5px var(--primary-color-dark),
		 0px  1px  5px var(--primary-color-dark),
		 1px  0px  5px var(--primary-color-dark),
		 1px  1px  5px var(--primary-color-dark),
		 0px -1px  5px var(--primary-color-dark),
		-1px  0px  5px var(--primary-color-dark),
		-1px -1px  5px var(--primary-color-dark),
		-1px  1px  5px var(--primary-color-dark),
		 1px -1px  5px var(--primary-color-dark);
}

/* *accent */
.blur-box-accent {
	box-shadow: 
		 0px  0px  2px var(--accent-color-light),
		 0px  1px  2px var(--accent-color-light),
		 1px  0px  2px var(--accent-color-light),
		 1px  1px  2px var(--accent-color-light),
		 0px -1px  2px var(--accent-color-light),
		-1px  0px  2px var(--accent-color-light),
		-1px -1px  2px var(--accent-color-light),
		-1px  1px  2px var(--accent-color-light),
		 1px -1px  2px var(--accent-color-light);
}

/* **more */

.more-blur-box-accent {
	box-shadow: 
		 0px  0px  5px var(--accent-color-dark),
		 0px  1px  5px var(--accent-color-dark),
		 1px  0px  5px var(--accent-color-dark),
		 1px  1px  5px var(--accent-color-dark),
		 0px -1px  5px var(--accent-color-dark),
		-1px  0px  5px var(--accent-color-dark),
		-1px -1px  5px var(--accent-color-dark),
		-1px  1px  5px var(--accent-color-dark),
		 1px -1px  5px var(--accent-color-dark);
}

/* *inactive */
.blur-box-inactive {
	box-shadow: 
		 0px  0px  4px var(--inactive-color),
		 0px  1px  4px var(--inactive-color),
		 1px  0px  4px var(--inactive-color),
		 1px  1px  4px var(--inactive-color),
		 0px -1px  4px var(--inactive-color),
		-1px  0px  4px var(--inactive-color),
		-1px -1px  4px var(--inactive-color),
		-1px  1px  4px var(--inactive-color),
		 1px -1px  4px var(--inactive-color);
}


/* BLUR BOXES HOVER */
/* *primary */

.blur-box-primary-hover:hover {
	box-shadow: 
		 0px  0px  2px var(--primary-color-light),
		 0px  1px  2px var(--primary-color-light),
		 1px  0px  2px var(--primary-color-light),
		 1px  1px  2px var(--primary-color-light),
		 0px -1px  2px var(--primary-color-light),
		-1px  0px  2px var(--primary-color-light),
		-1px -1px  2px var(--primary-color-light),
		-1px  1px  2px var(--primary-color-light),
		 1px -1px  2px var(--primary-color-light);
}

/* **more */

.more-blur-box-primary-hover:hover {
	box-shadow: 
		 0px  0px  5px var(--primary-color-dark),
		 0px  1px  5px var(--primary-color-dark),
		 1px  0px  5px var(--primary-color-dark),
		 1px  1px  5px var(--primary-color-dark),
		 0px -1px  5px var(--primary-color-dark),
		-1px  0px  5px var(--primary-color-dark),
		-1px -1px  5px var(--primary-color-dark),
		-1px  1px  5px var(--primary-color-dark),
		 1px -1px  5px var(--primary-color-dark);
}

/* *accent */

.blur-box-accent-hover:hover {
	box-shadow: 
		 0px  0px  2px var(--accent-color-light),
		 0px  1px  2px var(--accent-color-light),
		 1px  0px  2px var(--accent-color-light),
		 1px  1px  2px var(--accent-color-light),
		 0px -1px  2px var(--accent-color-light),
		-1px  0px  2px var(--accent-color-light),
		-1px -1px  2px var(--accent-color-light),
		-1px  1px  2px var(--accent-color-light),
		 1px -1px  2px var(--accent-color-light);
}

/* **more */

.more-blur-box-accent-hover:hover {
	box-shadow: 
		 0px  0px  5px var(--accent-color-dark),
		 0px  1px  5px var(--accent-color-dark),
		 1px  0px  5px var(--accent-color-dark),
		 1px  1px  5px var(--accent-color-dark),
		 0px -1px  5px var(--accent-color-dark),
		-1px  0px  5px var(--accent-color-dark),
		-1px -1px  5px var(--accent-color-dark),
		-1px  1px  5px var(--accent-color-dark),
		 1px -1px  5px var(--accent-color-dark);
}

/* **inactive */

.blur-box-inactive:hover {
	box-shadow: 
		 0px  0px  3px var(--fg-color),
		 0px  1px  3px var(--fg-color),
		 1px  0px  3px var(--fg-color),
		 1px  1px  3px var(--fg-color),
		 0px -1px  3px var(--fg-color),
		-1px  0px  3px var(--fg-color),
		-1px -1px  3px var(--fg-color),
		-1px  1px  3px var(--fg-color),
		 1px -1px  3px var(--fg-color);
}

/** SHAPE **/
.pill-shape {
	border-radius: 5px; 
	margin-bottom: 10px;  
}

.pill-shape-right {
	border-bottom-right-radius: 5px;
	border-top-right-radius: 5px;
}

.pill-shape-left {
	border-bottom-left-radius: 5px;
	border-top-left-radius: 5px;
}

.circle-shape {
	width: 3rem;
	height: 3rem;
	border-radius: 50%;
	font-size: 1.5rem;
	border: none;
}

/* POINTERS */
.handcursor{
	cursor: pointer;
}

.notselectable {
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}

.backdrop {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100vw;
	height: 99vh;
	background-color: rgba(10,10,10,0.8);
}

.rounded-top-left{
	border-top-left-radius: 0.375rem;
}

.rounded-top-right{
	border-top-right-radius: 0.375rem;
}

.white-convex-box{
	--roundiness: 5px;
	border-radius: var(--roundiness);
	background-color: var(--fg-color);
	box-shadow: 0px 0px 10px inset black;
	color: var(--bg-color);
	margin: 0px;
	padding: 0px;
}

.white-convex-box>p{
	border-bottom: 1px var(--inactive-color) solid;
	margin: 0px;
	padding: 0px;
	list-style: none;
}

.white-convex-box>p:first-child{
	border-top-left-radius: var(--roundiness);
	border-top-right-radius: var(--roundiness);
}

.white-convex-box>p:last-child{
	border-bottom-left-radius: var(--roundiness);
	border-bottom-right-radius: var(--roundiness);
}

.white-convex-box>p:last-child{
	border-bottom: none;
}

.white-convex-box>p:hover{
	background-color: var(--primary-color-light);
	color: var(--fg-color);
}

.white-convex-box>p::before {
	content: "\e00a0 \e00a0";
	margin-left: 10px;
}

