@import url("../node_modules/bootstrap/dist/css/bootstrap.min.css");
@import url("../node_modules/fork-awesome/css/fork-awesome.min.css");
@import url("./styles/colors.css");
@import url("./styles/boxes.css");
@import url("./styles/psdfonts.css");